<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<h1>Benvenuto nel servizio clienti Vodafone</h1>

	<p>
		Username: <span th:text="${{session.username}}">US</span>
	</p>

	<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="u : ${allUsers}">
				<td th:text="${u.name}"></td>
				<td th:text="${ u.surname }"></td>
				<td th:text="${ u.username }"></td>
			</tr>
		</tbody>

</body>
</html>

