<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<h1>Benvenuto nel servizio clienti Vodafone</h1>

	<p>
		Mail: <span th:text="${{session.username}}">US</span>
	</p>

	<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>

	<table>
		<thead>
			<tr>
				<th>Id Corso</th>
				<th>Nome Corso</th>
				<th>Anno Corso</th>
<!-- 				<th>Username</th> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${allCorsi}">
				<td th:text="${c.id}"></td>
				<td th:text="${c.nome}"></td>
<!-- 				<td th:text="${ u.professore.nome }"></td> -->
				<td th:text="${ c.anno }"></td>
			</tr>
		</tbody>

</body>
</html>

