<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<h1>Benvenuto nel servizio clienti Vodafone</h1>

	<p>
		Mail: <span th:text="${{session.mail}}">US</span>
	</p>

	<p th:text="${'Nice to see you again ' + session.user.nome + ' ' + session.user.cognome}"></p>

	<table>
		<thead>
			<tr>
				<th>Id Corso</th>
				<th>Nome Corso</th>
				<th>Anno Corso</th>
<!-- 				<th>Username</th> -->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>asiuhdiusohd</td>
			</tr>
		</tbody>
	</table>

<div th:each="i : ${#numbers.sequence( 0, allCorsi.size-1)}">
	<span th:text="${allCorsi[i].nome}"></span>
	<div th:each="e : ${allCorsiEsami[i]}">
		<div th:each="y : ${e}">
			<span th:text="${y.dataAppello}"></span>
		</div>
	</div>
</div>

</body>
</html>

