<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Verbale</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{./css/homeStyle.css}" />
  <!--<link rel="stylesheet" type="text/css" media="all" href="../../css/homeStyle.css" />-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" th:href="@{/Home}">Verbalizer</a>
  </div>
  <a th:href="@{/Logout}" class="navbar-right"><i class="fas fa-sign-out-alt logout-btn"></i>LOGOUT</a>
</nav>   

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="sidenav">
        <!-- immagine profilo -->
        <img th:src="@{${session.user.image}}" class="profile-img" alt="">
        <h3>Nome e Cognome</h3>
        <h4 th:text="${{session.user.nome + ' ' + session.user.cognome}}">Gregorio Galletti</h4>
        <h3>E-mail</h3>
        <h4 th:utext="${#strings.substringBefore(session.user.mail,'@') + ' @' + #strings.substringAfter(session.user.mail,'@')}">gregorio.galletti<br/>&nbsp;&nbsp;&nbsp;&nbsp;@mail.polimi.it</h4>
        <h3>Matricola</h3>
        <h4 th:text="${{session.user.matricola}}">10494196</h4>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="jumbotron">
      <h3>
      	<a th:href="@{/getResults(idEsame=${verbale.risultati[0].esame.id})}"><i class="fas fa-chevron-left back-btn"></i></a>
        <span th:text="${'Verbale ' + verbale.id + ' del '+verbale.dataVerbale}"
        	  th:remove="tag">
          Verbale
         </span>
      </h3>
      <h4 th:text="${verbale.risultati[0].corso.nome + ' - appello del ' +verbale.risultati[0].esame.dataAppello}"></h4>
      </div>
      
      <!-- Dai del verbale -->
	    <div class="col-xs-1"></div>
      <div class="col-xs-10">
			<table class="table my-table">
				<thead>
					<tr>
						<th>Matricola</th><th>Cognome</th><th>Nome</th><th>Voto</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="i : ${#numbers.sequence( 0, verbale.risultati.size-1)}">
						<td th:text="${verbale.risultati[i].studente.matricola}">Studente Bravo</td>
						<td th:text="${verbale.risultati[i].studente.cognome}">Bravo</td>
						<td th:text="${verbale.risultati[i].studente.nome}">Studente</td>
						<td th:text="${verbale.risultati[i].voto}">30 e Lode</td>
					</tr>
				</tbody>
			</table>
      </div>
      <div class="col-xs-1"></div>

    </div>
  </div>
</div>  


</nav>

  
</body>
</html>
