<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>tiw-project-js</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/tiw-project-db</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>G1org1na</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
 <filter> 
  <filter-name>LoginChecker</filter-name> 
      <filter-class>it.polimi.tiw.filters.LoginChecker</filter-class> 
 </filter> 
 <filter-mapping> 
    <filter-name>LoginChecker</filter-name> 
    <url-pattern>/</url-pattern> 
    <url-pattern>/Home</url-pattern> 
    <url-pattern>/getResults</url-pattern>
    <url-pattern>/inserisciVoti</url-pattern>
    <url-pattern>/pubblicaVoti</url-pattern>
    <url-pattern>/verbalizzaVoti</url-pattern>
    <url-pattern>/rifiutaVoti</url-pattern>
    <url-pattern>/ElencoEsami</url-pattern>
    <url-pattern>/inserimentoMultiplo</url-pattern>
    <url-pattern>/getCorsi</url-pattern> 
    <url-pattern>/getInfoUtente</url-pattern> 
 </filter-mapping> 
</web-app>