<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{./css/homeStyle.css}" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

  
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" th:href="@{/Home}">Verbalizer</a>
  </div>
  <a th:href="@{/Logout}" class="navbar-right"><i class="fas fa-sign-out-alt logout-btn"></i>LOGOUT</a>
</nav>   

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="sidenav">
        <!-- immagine profilo -->
        <img  th:src="@{${session.user.image}}" class="profile-img" alt="">
        <h3>Nome e Cognome</h3>
        <h4 th:text="${{session.user.nome + ' ' + session.user.cognome}}">Gregorio Galletti</h4>
        <h3>E-mail</h3>
        <h4 th:utext="${#strings.substringBefore(session.user.mail,'@') + ' @' + #strings.substringAfter(session.user.mail,'@')}">gregorio.galletti<br/>&nbsp;&nbsp;&nbsp;&nbsp;@mail.polimi.it</h4>
        <h3>Matricola</h3>
        <h4 th:text="${{session.user.matricola}}">10494196</h4>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="jumbotron">
        <h3>
            <a th:href="@{/Home}"><i class="fas fa-chevron-left back-btn"></i></a>
        	I tuoi esami
        </h3>
      </div>
      
      <!-- Static Accordion -->

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" th:remove="all-but-first">
                    <div class="panel panel-default" th:each="i : ${#numbers.sequence( 0, allCorsi.size-1)}">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-parent="#accordion" th:text="${allCorsi[i].nome + ' ' +allCorsi[i].anno}">
                                    Tecnologie Informatiche per il Web
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
								<!-- Formattazione condizionale: controllo se ci sono esami da mostrare o meno -->
                                <p th:text="${allCorsiEsami[i].size != 0} ? 
                                											(${#strings.equals(session.user.ruolo,'teacher')} ? 
                                																		 'Clicca sull\'appello per visualizzare gli iscritti:' : 
                                																		 'Clicca sull\'appello per visualizzare il risultato:'
                                											) 
                                											: 
                                											(${#strings.equals(session.user.ruolo,'teacher')} ? 
                                																		 'Non sono presenti appelli per questo corso' : 
                                																		 'Non sei iscritto/a a nessun appello di questo corso.'
                                											 )">
                                										  Clicca sull'appello per visualizzare gli iscritti: 
                                </p>
                                <div th:each="e : ${allCorsiEsami[i]}">
									<div th:each="y : ${e}">
										<a class="a-btn" th:href="@{/getResults(idEsame=${y.id})}" th:text="${'Appello del ' + y.dataAppello}"></a>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a data-parent="#accordion">
                                    DataBases 2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a data-parent="#accordion">
                                    Computer Security
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl lorem, dictum id pellentesque at, vestibulum ut arcu. Curabitur erat libero, egestas eu tincidunt ac, rutrum ac justo. Vivamus condimentum laoreet lectus, blandit posuere tortor aliquam vitae. Curabitur molestie eros. </p>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</div>  


</nav>

  
</body>
</html>
