<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Esito</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{./css/homeStyle.css}" />
  <!--<link rel="stylesheet" type="text/css" media="all" href="../css/homeStyle.css" />-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<!-- PROVA -->

  
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" th:href="@{/Home}">Verbalizer</a>
  </div>
  <a th:href="@{/Logout}" class="navbar-right"><i class="fas fa-sign-out-alt logout-btn"></i>LOGOUT</a>
</nav>   

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="sidenav">
        <!-- immagine profilo -->
        <img  th:src="@{${session.user.image}}" class="profile-img" alt="">
        <h3>Nome e Cognome</h3>
        <h4 th:text="${{session.user.nome + ' ' + session.user.cognome}}">Gregorio Galletti</h4>
        <h3>E-mail</h3>
        <h4 th:utext="${#strings.substringBefore(session.user.mail,'@') + ' @' + #strings.substringAfter(session.user.mail,'@')}">gregorio.galletti<br/>&nbsp;&nbsp;&nbsp;&nbsp;@mail.polimi.it</h4>
        <h3>Matricola</h3>
        <h4 th:text="${{session.user.matricola}}">10494196</h4>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="jumbotron" id="title">
        <h3>
          <a th:href="@{/ElencoEsami(nomeCorso=${risultati[0].corso.nome})}"><i class="fas fa-chevron-left back-btn"></i></a>
          Esito
        </h3>
      </div>
      
      <!-- Static Accordion element -->

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-parent="#accordion" th:text="${risultati[0].corso.nome + ' ' +risultati[0].corso.anno}">
                                    Tecnologie Informatiche per il Web
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
								<!-- Formattazione condizionale: controllo se ci sono esami da mostrare o meno -->
								<div th:if="${#strings.equals(session.user.ruolo,'teacher')}">
									<table class="table">
										<thead>
											<tr>
												<th><a style="white-space: nowrap;" th:href="@{/getResults(idEsame=${risultati[0].esame.id},campo='matricola',ordine=${ordine})}+'#title'">Matricola<i th:if="${#strings.equals(campo,'matricola')}" th:class="${#strings.equals(ordine,'ASC') ? 'fas fa-chevron-down sort-i' : 'fas fa-chevron-up sort-i'}"></i></a></th>
												<th><a style="white-space: nowrap;" th:href="@{/getResults(idEsame=${risultati[0].esame.id},campo='cognome',ordine=${ordine})}+'#title'">Cognome<i th:if="${#strings.equals(campo,'cognome')}" th:class="${#strings.equals(ordine,'ASC') ? 'fas fa-chevron-down sort-i' : 'fas fa-chevron-up sort-i'}"></i></a></th>
												<th><a style="white-space: nowrap;" th:href="@{/getResults(idEsame=${risultati[0].esame.id},campo='nome',ordine=${ordine})}+'#title'">Nome<i th:if="${#strings.equals(campo,'nome')}" th:class="${#strings.equals(ordine,'ASC') ? 'fas fa-chevron-down sort-i' : 'fas fa-chevron-up sort-i'}"></i></a></th>
												<th><a style="white-space: nowrap;" th:href="@{/getResults(idEsame=${risultati[0].esame.id},campo='email',ordine=${ordine})}+'#title'">E-mail<i th:if="${#strings.equals(campo,'email')}" th:class="${#strings.equals(ordine,'ASC') ? 'fas fa-chevron-down sort-i' : 'fas fa-chevron-up sort-i'}"></i></a></th>
												<th><a th:href="@{/getResults(idEsame=${risultati[0].esame.id},campo='cdl',ordine=${ordine})}+'#title'">Corso di Laurea<i th:if="${#strings.equals(campo,'cdl')}" th:class="${#strings.equals(ordine,'ASC') ? 'fas fa-chevron-down sort-i' : 'fas fa-chevron-up sort-i'}"></i></a></th>
												<th><a style="white-space: nowrap;" th:href="@{/getResults(idEsame=${risultati[0].esame.id},campo='voto',ordine=${ordine})}+'#title'">Voto<i th:if="${#strings.equals(campo,'voto')}" th:class="${#strings.equals(ordine,'ASC') ? 'fas fa-chevron-down sort-i' : 'fas fa-chevron-up sort-i'}"></i></a></th>
												<th><a style="white-space: nowrap;" th:href="@{/getResults(idEsame=${risultati[0].esame.id},campo='stato',ordine=${ordine})}+'#title'">Stato<i th:if="${#strings.equals(campo,'stato')}" th:class="${#strings.equals(ordine,'ASC') ? 'fas fa-chevron-down sort-i' : 'fas fa-chevron-up sort-i'}"></i></a></th>
												<th></th>
											</tr>
										</thead>
										<tbody th:remove="all-but-first">
											<tr th:each="i : ${#numbers.sequence( 0, risultati.size-1)}">
												<td th:text="${risultati[i].studente.matricola}">000000</td>
												<td th:text="${risultati[i].studente.cognome}">Bravo</td>
												<td th:text="${risultati[i].studente.nome}">Studente</td>
												<td th:utext="${#strings.substringBefore(risultati[i].studente.mail,'@') + '<br/>'+'@'+#strings.substringAfter(risultati[i].studente.mail,'@') }">studente.bravo@mail.polimi.it</td>
												<td th:text="${risultati[i].studente.cdl}">Corso degli Studenti Bravi</td>
												<td th:text="${risultati[i].voto}">30 e Lode</td>
												<td th:text="${risultati[i].stato}">Verbalizzato</td>
												<td th:if="${not #strings.equals(risultati[i].stato,'verbalizzato')}"><a class="modifica-btn" th:href="@{/modificaVoto(idEsame=${risultati[i].esame.id},matricolaStudente=${risultati[i].studente.matricola})}">Modifica</a></td>
											</tr>
										</tbody>
									</table>
									<a class="a-btn" th:href="@{/pubblicaVoti(idEsame=${risultati[0].esame.id})}">Pubblica</a>
									<a class="a-btn" th:href="@{/verbalizzaVoti(idEsame=${risultati[0].esame.id})}">Verbalizza</a>
									
								</div>
								<div th:if="${#strings.equals(session.user.ruolo,'student') and risultati[0].isVisualizzabileByStudente()}">
									<table class="table">
										<thead>
											<tr>
												<th>Matricola</th><th>Nome e Cognome</th><th>Data Appello</th><th>Voto</th><th></th>
											</tr>
										</thead>
										<tbody th:remove="all-but-first">
											<tr th:each="i : ${#numbers.sequence( 0, risultati.size-1)}">
												<td class="my-td" th:text="${risultati[i].studente.matricola}">Studente Bravo</td>
												<td class="my-td" th:text="${risultati[i].studente.nome + ' ' + risultati[i].studente.cognome}">Studente Bravo</td>
												<td class="my-td" th:text="${risultati[i].esame.dataAppello}">09-06-1996</td>
												<td class="my-td" th:text="${risultati[i].voto}">30 e Lode</td>
												<td class="my-td" th:if="${#strings.equals(risultati[i].stato,'rifiutato')}">Il voto è stato rifiutato.</td>
												<td th:if="${risultati[i].voto != null and risultati[i].isRifiutabile()}"><a class="rifiuta-btn" th:href="@{/rifiutaVoti(idEsame=${risultati[i].esame.id})}">Rifiuta</a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div th:if="${#strings.equals(session.user.ruolo,'student') and (not risultati[0].isVisualizzabileByStudente())}"><p>Voto non ancora definito.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</div>  


</nav>

  
</body>
</html>
