<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{./Templates/Login/homeStyle.css}" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<!-- PROVA -->

  
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <!--<i class="fas fa-book navbar-brand"></i>-->
    <a class="navbar-brand">Verbalizer</a>

  </div>
</nav>   

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <div class="sidenav">
        <!-- immagine profilo -->
        <img src="./tizio.jpg" class="profile-img" alt="">
        <h3>Nome e Cognome</h3>
        <h4 th:text="${{session.user.nome + ' ' + session.user.cognome}}">Gregorio Galletti</h4>
        <h3>E-mail</h3>
        <h4 th:utext="${#strings.substringBefore(session.user.mail,'@') + '<br/>&nbsp;&nbsp;&nbsp;&nbsp;@' + #strings.substringAfter(session.user.mail,'@')}">gregorio.galletti<br/>&nbsp;&nbsp;&nbsp;&nbsp;@mail.polimi.it</h4>
        <h3>Matricola</h3>
        <h4 th:text="${{session.user.matricola}}">10494196</h4>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="jumbotron">
        <h3>Risultati</h3>
      </div>
      
      <!-- Accordion -->

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-parent="#accordion" th:text="${risultati[0].corso.nome + ' ' +risultati[0	].corso.anno}">
                                    Tecnologie Informatiche per il Web
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
								<!-- Formattazione condizionale: controllo se ci sono esami da mostrare o meno -->
								<table border="2" align="center">
									<thead>
										<tr>
											<th>Studente</th><th>Corso</th><th>Data Appello</th><th>Voto</th><th>Stato Voto</th><th></th>
										</tr>
									</thead>
									<tbody th:remove="all-but-first">
										<tr th:each="i : ${#numbers.sequence( 0, risultati.size-1)}">
											<td th:text="${risultati[i].studente.nome + ' ' + risultati[i].studente.cognome}">Studente Bravo</td>
											<td th:text="${risultati[i].corso.nome}">Tecnologie Informatiche per il Web</td>
											<td th:text="${risultati[i].esame.dataAppello}">09-06-1996</td>
											<td th:text="${risultati[i].voto}">30 e Lode</td>
											<td th:text="${risultati[i].stato}">Verbalizzato</td>
											<td th:if="${#strings.equals(session.user.ruolo,'student') and risultati[i].voto != null and risultati[i].isRifiutabile()}"><a class="a-btn" th:href="@{/rifiutaVoti(idEsame=${risultati[i].esame.id})}">Rifiuta</a></td>
										</tr>
									</tbody>
								</table>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
  </div>
</div>  


</nav>

  
</body>
</html>
